form {
  width: 300px;
  display: flex;
  flex-direction: column;
}
input {
  height: 30px;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 1.2em;
  outline: none;
  margin-top: 50px;
  background: none;
  transition: box-shadow 0.5s;
  color: #fff;
  text-align: center;
}
input:focus {
  box-shadow: 0 10px 20px -8px rgba(255, 255, 255, 0.2);
  background: none;
}
.dark {
  color: #000;
  border-bottom: 1px solid #000;
}

.search-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.active {
  top: 15%;
}

.search {
  width: 300px;
  display: flex;
}
.btn {
  width: 100px;
  height: 45px;
  margin: 50px auto 0 auto;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
.btn-dark {
  border: 2px solid #000;
  color: #000;
}
.btn-dark:focus {
  box-shadow: 0 10px 20px -8p rgba(255, 255, 255, 0.5);
}
.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

@media (min-width: 750px) {
  .btn {
    height: 40px;
    width: 110px;
    font-size: 1em;
  }
}
